@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  caret-color: #ff6500;
}

html {
  min-height: 100%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: "Poppins";
  background: #360033;
  background: -webkit-linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #510f63, #0c000c);
  background: #161616;
}

/* Chrome, Safari, Edge och Opera */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

.mini-audio-player {
  background: #0a0a0a;
  opacity: 98%;
}

.title {
  color: hsl(0, 100%, 100%);
  font-weight: 100;
  font-size: 32px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 38px;
}

.controls button,
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.volume {
  display: flex;
  align-items: center;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.controlwrapper.mini {
  flex-direction: row;
  justify-content: space-between;
}

.time {
  color: #d6d6d6e4;
  font-size: 13px;
}

.time.current {
  color: rgb(219, 219, 219);
}

input[type="radio"] {
  display: none;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 400px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.userForm input {
  @apply bg-grey rounded-md text-orange p-2 focus:border-orange;
}

.submenu-right {
  position: absolute;
  left: 100%;
}

.submenu-left {
  position: absolute;
  right: 100%;
}

input[type="range"] {
  width: 100%;
  height: 12px;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #f50 50%, #ccc 50%);
  transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: orange;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: orange;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: orange;
  cursor: pointer;
  border-radius: 50%;
}
/* -------- TAILWIND CSS ---------- */

.wrapper {
  @apply flex flex-grow flex-col mt-8 sm:px-8 px-0;
}
